*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(12, 12, 31);
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}
.nav-item-bottom{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.active{
    color: red;
}