*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    color: red;
    font-size: 64px;
}
.product-grird{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.product-card{
    background-color: aliceblue;
    padding: 15px;
}
.product-card img{
    height: 200px;
    width: 100%;
}
@media (max-width: 1200px){
    .text{
        color: green;
        background-color: aqua;
        font-size: 54px;
    }
    .product-grird{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 992px){
    .text{
        font-size: 32px;
    }
}@media (max-width: 768px){
    .text{
        color: rgb(0, 18, 0);
        background-color: rgb(242, 244, 244);
        font-size: 24px;
    }
}
