
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            background-color: aquamarine;
            color: black;
        }
        .product-card{
            width: 280px;
            padding: 20px;
        }
        .product-card img:hover{
            transform: scale(1.2);
        }
        .product-card img{
            width: 100%;
            height: 300px;
        }
        .price{
            font-size: large;
            display: flex;
            justify-content: center;
        }
        .title{
            font-size: large;
            color: slategray;
            display: flex;
            justify-content: center;
        }
        .btn{
            background-color: aqua;
            padding: 8px 15px;
            width: 100%;
            border: none;
            border-radius: 8px;
            color: black;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .product-container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        
